<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <div class="jumbotron">
       <h1 style="text-align:center;">Book List</h1>
   </div>
    <div class="container">
        <ul class="list-group"style="width:100%">
            {% for row in results %}
            <form method="post" action="/accounts/checkedin/">
                {% csrf_token %}
                <button type="button" class="list-group-item list-group-item-action" name="selected_book">{{ row.title }}
                    <span class="badge badge-primary badge-pill">{{ row.loan_id }}</span>
                </button> <br>
                {% endfor %}
                <br>
                <input type="text" class="form-control" name="loan" id="loan" placeholder="Type the loan_id present in each borrowed book"> <br>
                <button type="submit" class="btn btn-primary">Checkin</button>
            </form>
        </ul>
    </div>
</body>
</html>